* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    color: red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    --navHeight: 10vh;
    --headerHeight: 90vh;
}

body nav {
    position: fixed;
    width: 100%;
    height: var(--navHeight);
    line-height: var(--navHeight);
    background-color: #333;
    color: #FFF;
}

body header {
    height:  var(--headerHeight);
    line-height:  var(--headerHeight);
    background-color: crimson;
    color: #FFF;
}

body main {
    height: calc(var(--navHeight) + var(--headerHeight));
    line-height: calc(var(--navHeight) + var(--headerHeight));
}